body {
 background-color: #424040;
 font-family: "Roboto", sans-serif;
}

.page-content {
 max-width: 1200px;
}

.swiper-pagination-bullet {
 background: #fff !important;
}

.swiper-pagination-bullet-active {
 width: 20px !important;
 background: #fff !important;
 border-radius: 5px !important;
}
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: cyan; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

  .product-item {
    width: 100%;
    cursor: pointer;
}

.product-item:active {
    color: skyblue;
}



@media only screen and (min-width: 960px) {

    .product-item .logo {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: start;
        justify-content: center;
        position: relative;
        overflow: hidden;
        font-size: 10px;
    }
}

@media only screen and (max-width: 960px) {

    .product-item .logo {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        position: relative;
        overflow: hidden;
        font-size: 10px;
    }
}

@media only screen and (min-width: 501px) {


    .product-item .logo:hover img {
        transform: translateY(0.25rem);
        transform: scale(1.25);
    }

    .product-item .logo .play-icon {
        opacity: 0;
    }

    .product-item .logo:hover .play-icon {
        opacity: 1;
    }

    .product-item .logo .play-icon svg {
        font-size: 70px;

    }

    .product-item .logo:hover .play-icon svg {
        font-size: 50px;

    }
}

@media only screen and (max-width: 500px) {
    .product-item .logo .play-icon {
        display: none;
    }

    .product-item .logo {
        width: 100%;
        height: 150px;
        display: flex;
        align-items: start;
        justify-content: center;
        position: relative;
        overflow: hidden;
        font-size: 10px;
    }
}